*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6eedc;
}

/* Calculator box */
.calculator{
  width: 90%;
  max-width: 350px;
  background: #020c05;
  padding: 20px;
  border-radius: 18px;
}

/* Display */
.display{
  height: 60px;
  background: #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Buttons grid */
.buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* Button style */
button{
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #2b2f32;
  color: #00ff66;
  cursor: pointer;
}

/* Operators */
.op{
  color: #00ff66;
}

/* Equal button */
.equal{
  grid-column: span 2;
  background: #2b2f32;
}