body{
    background-image: url(./fav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.dec{
    color: rgb(11, 218, 73);
    font-family: 'Times New Roman', Times, serif;
}
#bi{
    color: blue;
    
  