body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #e9ebed;
  color: #333;
}

header {
  background: #1bc50b;
  color: rgb(246, 231, 231);
  padding:15px;
  text-align: center;
}

nav a {
  color: rgb(227, 225, 225);
  margin: 0  10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
   text-decoration: underline; 
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

button {
  background: #0078d7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

section {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

footer {
  text-align: center;
  background: #161616;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 5px 0;
  }
}